@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.header {
  padding-top: 10px;
  font-weight: 200;
  color: #2f2f30;
}

.header h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
  letter-spacing: 3px;
}